body {
background-color: black;
color:ghostwhite;
}
h1{
        text-align: center;
        align-items: center;
        border:thick;
        border-color:rgba(0, 0, 0, 0.205);
        border-radius: 10%;
        border-style:outset;
        width:inherit;
}
.highlighted{
        border-color:darkslategray;
}
table{
        width: 100%;
        align-content: center;
}
table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
}
th, td {
        padding: 5px;
}
th {
        text-align: left;
        box-sizing: 100%;
        width: fit-content;
      }

.slideContainer {
    width: 75%;
    margin-top: 20px;
    
}
.slideContainer:hover{
        box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.205);
        opacity: 0.7;
        width: 100%;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
}
.slider-text{
        writing-mode: vertical-rl; 
        box-shadow: 0px 10px 10px 1px rgb(230,230,230);
        text-align: center;
        transform: rotate(180deg);
        
}
.slider{
        max-width: 10px;
         -webkit-appearance: slider-vertical;
        opacity: 0.7;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
        block-size: 200px;
        border-radius: 12px;
        width: 100%;
}
    
.slider:hover {
        opacity: 1;
        box-shadow: 0px 10px 10px 1px rgb(230,230,230);
}
    
.output {
        writing-mode: horizontal-tb; 
        text-align: center;
        transform: rotate(180deg);
    
    }

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
}

.noselect {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}

label {
    display: inline-block;
    font-size: larger;
}
input[type=checkbox]{
        width: 40px;
        height: 40px;
}

input[type=checkbox]:enabled:hover{
        box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.205);
        opacity: 0.5;
        -webkit-transition: 0.2s;
        transition: opacity 0.3s;
}
input[type=checkbox]:enabled{
        width: 40px;
        height: 40px;
        cursor: pointer;
        
}

input[type="checkbox"]:disabled + label::before{
        background: gray;
        cursor:default;

      }
      input[type="checkbox"]:disabled + label:hover::before{
        background: rgb(0, 0, 0);
        border: 1px solid #d4d4d5;
        cursor:default;

      }
input[type=range]{
        width: 80px;
        height: 240px;
        font-size: large;
        cursor: pointer;
}
input[type=text]{
font-size: 20px;
}
input[type=number]{
        font-size: 20px;
        width: 60px;
        max-width: 100px;
}

button {
        font-size: larger;
        cursor: pointer;
      }
      select {
        font-size: larger;
        cursor: pointer;
      }